body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em; 
    background-color: #FFFFFF; 
}


primary-color: #212121
secondary-color: #757575
primary-btn-color:#2196F3
bgr-color:#FFFFFF
btn-secondary:#188CE8
               




.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
}
.logo-Web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
}
